#icon {
    margin: 10px;
    width: 75px;
    height: 65px;
}

#navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(68, 127, 8);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(57, 105, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

link {
    padding-right: 10px;

}

#noticias {

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 6px;
    flex-wrap: wrap;

}

.noticia {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 105, 9);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    width: 350px;

}

.img_noticia {


    width: 100%;
    height: 300px;
    border: 4px;
    border-radius: 15px;
    object-fit: cover;

}

#verdao {

    right: 0px;
    bottom: -10px;
    position: fixed;
    width: 150px;
    height: 150px;

}

#jogadores{

display: flex;
align-items: flex-start;
justify-content: space-around;
background-color: rgb(45, 86, 4);
border-radius: 15px;
padding: 20px;

}

.jogador{

text-align: center;
}

#icon_jogador{

width: 90px;

}

#titulo_escalacao{

text-align: center;
}

footer{

background-color: rgb(45, 86, 4);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
padding: 10px;
margin-top: 40px;

}