#icon{

width: 75px;
height: 70px;
}

#navbar {

display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
background-color: rgb(57, 105, 9);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
margin: 0px;
padding: 0px;
background-color: rgb(255, 255, 255);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}